.tool-bar {
    width: 100%;
    height: 3.5rem;
    background-color: #9B51E0;
    box-shadow: rgba(0, 0, 0, 0.137255) 0px 0px 4px 0px, rgba(0, 0, 0, 0.278431) 0px 4px 8px 0px;
    position: fixed;
    overflow: hidden;
    z-index: 9999;
}

.tool-bar .app-name {
    color: white;
    line-height: 3.5rem;
    font-size: 1.25rem;
    margin-left: 0.5rem;
}

.tool-bar button {
    font-size: 0.65rem;
    margin-left: 1rem;
}